<launch>
  <node pkg="raspimouse_ros" name="buzzer" type="buzzer.py" required="true" />
  <node pkg="raspimouse_ros" name="lightsensors" type="lightsensors.py" required="true" />
  <node pkg="raspimouse_ros" name="switches" type="switches.py" required="true" />
  <node pkg="raspimouse_ros" name="motor" type="motor.py" required="true" />
</launch>
